html {
	background-color: #fff !important;
	height: 100%;
	text-rendering: optimizeLegibility;
}

body {
	color: #4d4d4d;
	font-family: "Open Sans";
}

#jacket {
	height: 100%;
	border-left: 8px solid #003286;
}

#binder main {
	margin-left: 8px;
	margin-top: 80px;
}

main .page {
	padding-top: 3em;
}

main .featured-image {
	height: 300px;
	left: calc(-50vw + (1188px / 2 - 4px));
	width: calc(100vw - 8px);
}

@media screen and (max-width: 1196px) {

	main .featured-image {
		left: -8px;
	}
}

@media screen and (max-width: 910px) {

	#binder.fluid main {
		margin-top: 65px;
	}
}

@media screen and (max-width: 791px) {

	main .featured-image {
		left: 0;
	}
}
