html {
	background-color: #fff;
	height: 100%;
	text-rendering: optimizeLegibility;
}

body {
	color: #434343;
	font-weight: 300;
}

#jacket {
	border-left: 8px solid #003286;
}

#binder main {
	margin: 0 auto;
	width: 77%;
}

main .page {
	padding-top: 3em;
}

main .featured-image {
	height: 300px;
	left: calc(-50vw + (1188px * .77 / 2));
	width: 100vw;
}

.single main > section {
	margin-top: 5em;
}

article footer {
	margin-bottom: 1em;
}

@media screen and (max-width: 1196px) {

	main .featured-image {
		left: calc(-50vw + 50%);
	}
}

@media screen and (max-width: 910px) {

	#binder.fluid main {
		margin-top: 65px;
	}
}

@media screen and (max-width: 791px) {

	main .featured-image {
		left: 0;
	}
}
