.main-menu {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 1.2em;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	top: 0;
	z-index: 200;
	position: fixed;
}

.main-menu .menu-position {
	display: block;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
}

.main-menu #logo {
	display: inline-block;
	vertical-align: middle;
}

.main-menu #logo img {
	display: block;
}

.main-menu ul {
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0 0 0 1em;
}

.main-menu li {
	padding: 0;
	display: inline-block;
}

.main-menu li a {
	font-weight: 300;
	margin: 0;
	padding: 23px 15px;
	color: #2a64ac;
	display: block;
	height: 100%;
}

.main-menu li a:hover {
	margin: 0;
	display: block;
	height: 100%;
	color: #434343;
	border-bottom: 0;
}

.main-menu .active li a {
	color: #434343;
}

.main-menu ul li ul {
	display: none;
	visibility: hidden;
	text-align: left;
	position: absolute;
	background-color: #fff;
	border-left: 1px solid #003286;
	top: 78px;
}

.main-menu ul li:hover ul {
	padding: 0;
	background-color: #fff;
	display: block;
	visibility: visible;
	opacity: 1;
	width: 300px;
}

.main-menu ul li li {
	margin-left: 1px;
	display: block;
}

.main-menu ul li li a {
	padding: 14px;
}

.main-menu .searchform {
	display: inline-block;
	vertical-align: middle;
}

.main-menu .searchform input[type="text"] {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #003286;
	padding: 6px 4px;
	outline: 0;
	border-radius: 0;
	color: #767676;
	margin: 0;
	background: transparent;
}

.main-menu .searchform input[type="text"]:focus {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #434343;
	color: #767676;
	box-shadow: none;
}

.main-menu .searchform input[type="submit"] {
	background: url(./assets/ico-search-thin.svg);
	border: none;
	text-indent: 99999px;
	padding: 0;
	height: 21px;
	width: 21px;
	right: 0;
	top: .6em;
	background-size: 20px;
	background-repeat: no-repeat;
}

.mobilenav {
	display: none;
}

@media screen and (min-width: 990px) {

	.admin-bar .main-menu {
		top: 32px;
	}
}

@media screen and (max-width: 1046px) {

	.main-menu .menu-position {
		width: 100%;
	}
}

@media screen and (max-width: 910px) {

	.main-menu {
		height: 0;
	}

	.main-menu #logo {
		display: none;
	}

	.main-menu ul {
		border-top: 1px solid #f4f4f4;
		width: 100%;
		background-color: #fff;
		display: none;
		padding: 0;
		top: 65px;
		position: absolute;
	}

	.main-menu ul.shownav {
		display: block;
	}

	.main-menu ul li {
		width: 100%;
		float: left;
		border-bottom: 1px solid #f4f4f4;
	}

	.main-menu ul li:last-of-type {
		border-bottom: none;
	}

	.main-menu ul li:hover ul {
		position: relative;
		padding: 0;
		margin: 0;
	}

	.main-menu ul li a {
		font-size: 150%;
	}

	.main-menu ul li ul {
		top: 0;
		width: 100%;
		margin-top: 14px 0 0;
		padding: 0;
		display: block;
	}

	.main-menu ul li ul li {
		margin-left: 4px;
		background-color: #fff;
		text-align: center;
		border: none;
	}

	.main-menu ul li ul li a {
		color: #4d4d4d;
		border-bottom: 1px solid #23282d;
	}

	.mobilenav {
		width: 100%;
		border-top: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 201;
		height: 65px;
		background-color: #fff;
		display: block;
	}

	.mobilenav:hover {
		background-color: #f4f4f4;
	}

	.mobilenav .mobilelogo {
		display: inline-block;
		margin-left: 2em;
		margin-top: 10px;
		height: 45px;
	}

	.mobilenav .menuicon {
		display: inline-block;
		top: 30px;
		right: 20px;
		position: absolute;
	}
}

@media screen and (max-width: 791px) {

	nav.main-menu ul li a {
		padding: 18px 15px;
		font-size: 100%;
	}
}

@media screen and (max-width: 491px) {

	.mobilenav .mobilelogo {
		width: 200px;
		display: inline-block;
	}
}
