.main-footer-af {
	width: 77%;
	text-align: center;
	border-top: 1px solid #d8d8d8;
	margin: 2em auto 0;
	padding: 1.5em 0;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #434343;
}

.main-footer-af address {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: .8rem;
	line-height: 1.5;
	color: #4d4d4d;
}

.main-footer-af a {
	color: #2a64ac;
}

.main-footer-af a:hover {
	color: #434343;
	border-bottom: 1px solid #434343;
}
