.archive section {
	margin-top: 7em;
}

.archive section article h2.article-title {
	padding-top: 2em;
	padding-bottom: .1em !important;
}

.archive section article .source {
	color: #4d4d4d;
	font-family: "Open Sans";
	padding-bottom: 2em;
}

.archive section article .source .article-author {
	display: none;
}

.archive section article .article-summary {
	padding-bottom: 1em;
}

.archive footer.main-footer.archive-footer {
	display: none;
}
