.archive .article-thumbnail,
.search .article-thumbnail {
	float: left;
	margin-right: 1em;
}

.archive h2.article-title,
.search h2.article-title {
	padding-bottom: 0;
}

.archive .article-header hgroup.source,
.search .article-header hgroup.source {
	padding-bottom: 2em;
}

.archive .side-right.gutter .column.one:not(.gutterless),
.blog .side-right.gutter .column.one:not(.gutterless),
.search .side-right.gutter .column.one:not(.gutterless) {
	padding-top: 0;
}

.search article.wsuwp_uc_person {
	min-height: 160px;
	border-bottom: 1px solid rgba(127, 127, 127, .2);
	padding: 1em 0;
}

.search article.wsuwp_uc_person:last-of-type {
	border-bottom: 0;
}

.search section,
.archive section {
	margin-top: 7em;
}

.archive.post-type-archive-wsuwp_uc_person article {
	min-height: 130px;
	clear: none;
	padding: .7em;
	margin: .8em;
	border-bottom: 1px rgba(127, 127, 127, .2) solid;
}

.archive.post-type-archive-wsuwp_uc_entity article {
	clear: none;
	padding: .7em;
	margin: .8em;
	border-bottom: 1px rgba(127, 127, 127, .2) solid;
}

.archive.post-type-archive-wsuwp_uc_entity article:last-of-type,
.archive.post-type-archive-wsuwp_uc_project article:last-of-type,
.archive.post-type-archive-wsuwp_uc_person article:last-of-type {
	border-bottom: 0;
}

.archive.post-type-archive-wsuwp_uc_project article {
	clear: none;
	padding: .7em;
	margin: .8em;
}

.archive.post-type-archive-wsuwp_uc_project article + article {
	border-top: 1px rgba(127, 127, 127, .2) solid;
	padding-top: 1.4em;
}

.archive.post-type-archive-wsuwp_uc_project article:after {
	clear: both;
	content: "";
	display: table;
}

.archive section article h2.article-title {
	padding-bottom: .1em;
}

.archive.post-type-archive-wsuwp_uc_entity article h2.article-title,
.archive.post-type-archive-wsuwp_uc_person section article h2.article-title {
	padding-top: 0;
}

.archive.post-type-archive-wsuwp_uc_entity article h2.article-title {
	padding-bottom: 0;
}

.archive section article .source {
	color: #4d4d4d;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	padding-bottom: 2em;
}

.post-type-archive-wsuwp_uc_person header div {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.archive section article .source .article-author {
	display: none;
}

.archive section article .article-summary {
	padding-bottom: 1em;
}

.archive footer.main-footer.archive-footer {
	display: none;
}

.post-type-archive-wsuwp_uc_project footer.main-footer.archive-footer {
	display: block;
}

.post-type-archive-wsuwp_uc_person .row:not(.unscale) .column figure,
.post-type-archive-wsuwp_uc_person figure.article-thumbnail,
.post-type-archive-wsuwp_uc_project .article-thumbnail {
	height: 120px;
	width: 120px;
	overflow: hidden;
	display: block;
	margin: 0 .8rem 5px 0;
}

.wsuwp_uc_person hgroup > *,
.post-type-archive-wsuwp_uc_project .article-title,
.post-type-archive-wsuwp_uc_project .category-seed-grants .article-header {
	margin-left: calc(120px + .8rem);
}

.post-type-archive-wsuwp_uc_project .article-title {
	padding-top: 0;
}

.wsuwp_uc_person .article-thumbnail,
.wsuwp_uc_person .article-thumbnail > *,
.post-type-archive-wsuwp_uc_project .article-thumbnail .article-title {
	margin-left: 0;
}

.seed-grant-year-heading {
	font-size: 2.2em;
	line-height: 1.5;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

.seed-grant-year-heading:after {
	background: #d8d8d8;
	content: "";
	display: inline-block;
	height: 1px;
	margin-left: 10px;
	position: relative;
	vertical-align: middle;
	width: 100%;
}

article + .seed-grant-year-heading {
	margin-top: 4rem;
}

.category-seed-grants .article-header h2 {
	padding: 0;
}

.category-seed-grants .article-header span {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 1em;
}
